* { margin:0; padding:0; box-sizing:border-box; font-family:Arial; }

.navbar {
    background:white;
    padding:15px 0;
}
.nav-container {
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.logo{
height:65px;
width:auto;
}
.nav-menu { list-style:none; display:flex; gap:20px; }
.login{
background:#16a34a;
color:white !important;
padding:10px 20px;
border-radius:25px;
font-weight:600;
transition:0.3s;
}

.nav-menu a{
font-size:16px;
font-weight:600;
color:#065f46;
text-decoration:none;
}

.nav-menu a:hover{
color:#16a34a;
}

.login:hover{
background:#065f46;
}
.hero {
    height:350px;
    background:url('/images/hero.jpg') center/cover;
    position:relative;
}
.hero-overlay {
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.5);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
}
.hero-logo { width:80px; margin-bottom:15px; }

.about {
    width:80%;
    margin:60px auto;
    text-align:center;
}
.about-content {
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:30px;
    margin-top:30px;
}
.about img { width:100%; border-radius:10px; }

.stats {
    background:#f3f8f3;
    display:flex;
    justify-content:center;
    gap:25px;
    padding:40px;
}
.stat-card {
    background:white;
    padding:20px;
    width:130px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 4px 8px rgba(0,0,0,.1);
}
.stat-card h3 { color:#4CAF50; }

.services {
    text-align:center;
    margin:50px 0;
}
.service-list span {
    display:inline-block;
    margin:10px;
    padding:10px 20px;
    border:1px solid #4CAF50;
    border-radius:20px;
}

.gallery {
    background:#eef5ee;
    padding:50px;
}
.gallery-grid {
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}
.gallery-grid img {
    width:100%;
    border-radius:10px;
}

.contact {
    padding:50px;
}
.contact-grid {
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}
.contact iframe {
    width:100%;
    height:250px;
    border:0;
}

.footer {
    background:#7da67d;
    color:white;
    text-align:center;
    padding:20px;
}
